// Colors


$color-shades-of-honeydew:#F6FDF6;
$color-black:#092404;
$color-white:#FFFFFF;
$color-green-apple:#67D23C;
$color-dark-apple:#4EC259;

// Typography

$ff-robo: "Roboto", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
