.about-company {
    position: relative;
    display: block;
    height: 832px;

    &__content {
        display: flex;
        gap: 65px;

        @media(max-width:320px) {
            display: block;
          }
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 26px;

        @media(max-width:320px) {
         gap: 0;   
        }
    }

    &__title {
        font-size: 56px;
        line-height: 110%;
        font-weight: 500;
        width: 639px;
        margin: 0;
        padding: 0;
        color: $color-black;

        @media(max-width:320px) {
            width: 320px;
            font-size: 32px;
            line-height: 120%;
            font-weight: 500;
            margin: 40px 0 32px 0;
          }
    }

    &__list {
        display: flex;
        gap: 10px;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media(max-width:1200px) {
            width: 350px;
          }

        @media(max-width:480px) {
            width: 265px;
            margin: 0 0 27px 0;
            gap: 5px;
          }
    }

    &__item {
        display: flex;
        align-items: end;
        gap: 21px;

        @media(max-width:480px) {
            align-items: baseline;
            gap: 7px;
          }
    }

    &__number {
        font-size: 28px;
        line-height: 130%;
        font-weight: 700;

        @media(max-width:320px) {
            font-size: 24px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 140%;

        @media(max-width:320px) {
         font-size: 16px;   
        }
    }

    &__form {
        display: block;
        text-align: center;
        width: 350px;
        height: 302px;
        background-color: $color-dark-apple;
        border-radius: 10px;
        padding: 25px;

        @media(max-width:320px) {
           display: none;    
        }
    }

    &__form-text {
        display: block;
        font-size: 24px;
        line-height: 130%;
        font-weight: 500;
        color: $color-white;
        margin: 0 0 20px 0;
    }

    &__form-flex {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 0 20px 0;
    }

    &__form-wrapper {
        position: relative;
    }

    &__form-input {
        max-width: 300px;
        width: 100%;
        height: 44px;
        border-radius: 20px;
        border: none;
        padding: 11px 0 11px 44px;
        background-color: $color-white;
    }

    &__form-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__form-button {
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.04em;
        border-radius: 20px;
        max-width: 300px;
        width: 100%;
        height: 46px;
        margin: 0;
        padding: 0;
        border: none;
        background-color: $color-green-apple;
        color: $color-white;
    }

    &__form-button-tel {
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.04em;
        border-radius: 20px;
        max-width: 300px;
        width: 100%;
        height: 46px;
        margin: 0;
        padding: 0;
        border: none;
        background-color: $color-green-apple;
        color: $color-white;
        display: none;

        @media(max-width:320px) {
            display: block; 
        }
    }

    &__right {
        display: block;
        height: 832px;

        @media(max-width:480px) {
            height: 0;
          }
    }

    &__right-img {
        position: absolute;
        top: 40px;
        right: 0;

        @media(max-width:1320px) {
            top: 140px;
            width: 716px;
            height: 648px;
          }

          @media(max-width:1150px) {
            top: 240px;
            width: 616px;
            height: 548px;
          }

          @media(max-width:480px) {
            display: none;
          }
    }

    &__right-img-ellipses {
        position: absolute;
        display: none;

        @media(max-width:480px) {
            display: block;
            top: 459px;
            width: 320px;
            height: 431px;
            right: 0;
          }
    }

    &__right-wrapper {
        position: relative;
    }

    &__right-img-doctor {
        position: absolute;
        top: 23px;
        right: 210px;

        @media(max-width:1320px) {
            top: 123px;
            width: 449px;
            height: 665px;
          }

          @media(max-width:1150px) {
            right: 130px;
          }

          @media(max-width:480px) {
            display: none;
            position: relative;
            top: 100px;
            right: 0;
            width: 295px;
            height: 392px;
          }
    }

    &__right-img-doctor-tel {
        display: none;

        @media(max-width:480px) {
            display: block;
            position: relative;
            top: 56px;
            right: 0;
            width: 295px;
            height: 392px;
          }
    }
    
}